body {
  font-family: sans-serif;
  font-size: 16px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 5px;
}

button {
  font-size: 1.2em;
  padding: 5px;
  margin: 5px 0;
  border: 2px solid grey;
  border-radius: 5px;
}

h4 {
  margin: 0;
}

.maintext {
  max-width: 720px;
  min-height: 300px;
  margin: 10px;
}

.maintext p {
  font-size: 1.3em;
}

.maintext button {
  cursor: pointer;
}

#map {
  position: relative;
  width: 150px;
  height: 300px;
  margin-left: 10px;
  float: right;
  background-repeat: no-repeat;
}

.playerIcon {
  position: absolute;
  transition: 3s;
}

#image {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  z-index: 999;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

#infobutton {
  width: 30px;
  height: 30px;
  line-height: 0;
  border: 1px solid black;
  border-radius: 50%;
}

#infobox {
  width: 100%;
  min-height: 100px;
}

.infobutton--unread {
  background-color: skyblue;
}

.infobutton--read {
  background-color: lightgray;
}

#inventory li {
  padding: 3px;
  border: 1px solid black;
  cursor: pointer;
  margin: 0 0 5px;
}

#inventory li:hover {
  background-color: #eee;
}

.inventory, .wallet, .clock, .objectives, .stats {
  max-width: 700px;
  margin: 10px 10px 0;
  padding: 5px 10px;
  border: 1px dashed black;
}

.inventory, .objectives {
  height: 200px;
  width: 330px;
  margin: 0;
  display: inline-block;
}

.objectives {
  overflow: scroll;
}

.objective--completed {
  text-decoration: line-through;
}

.clock {
  padding: 0 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 720px;
  margin: 10px 10px 0;
}

.js-hidden {
  display: none;
}

.js-invisible {
  visibility: hidden;
}